.bigmodal {
  width: 90%;
  height: 90%;
  left: 5%;
  margin: 0;
}
.bigmodal.fade.in {
  top: 5%;
}
.bigmodal .modal-body {
  max-height: none;
}

/* RESPONSIVE */
@media (max-width: 767px) {
  .bigmodal {
	  width: 100%;
	  height: 100%;
	  left: 0;
	}
	.bigmodal.fade.in {
	  top: 0;
	}
}
